body {
  margin: 1rem;
  position: relative;
}

.btn-style {
  display: flex;
  justify-content: end;
  height: 100%;
  width: 100%;
}

.btn {
  background-color: grey;
  border: none;
  margin-left: 5px;
}

.btn:hover {
  background-color: #696969;
}

.btn1 {
  position: absolute;
  left: 0px;
}

h2 {
  margin-top: 2rem;
  margin-left: 5px;
}

.content {

}